@model RoadAppWEB.Models.overpass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>overpass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trunknetwork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trunknetwork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maintenanceunit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maintenanceunit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.operatingunit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.operatingunit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lanes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lanes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.square)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.square)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
