@model RoadAppWEB.Models.road

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>road</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.facility_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.facility_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_node)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_node)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_linknode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_linknode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_node)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_node)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_linknode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_linknode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.avg_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avg_length)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
